<div class="modal fade" id="setPasswordModal" tabindex="-1" aria-labelledby="setPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="setPasswordModalLabel">Configurar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="password" class="form-control" id="currentPasswordInput" placeholder="Ingresa tu contraseña actual">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="newPasswordInput" placeholder="Ingresa tu nueva contraseña">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirma tu nueva contraseña">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="savePasswordButton">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/list_connections/add_password.js') }}"></script>