<!-- filepath: c:\Users\alex\Desktop\usbFTP\app\templates\forms\ftp_form.html -->
<form id="ftpForm" class="connection-form d-none p-3 border rounded shadow-sm bg-light" method="POST" action="{{ url_for('storage.add_connection', storage_type='ftp') }}">
    <h5 class="text-center mb-4">Añadir Conexión FTP</h5>
    
    <div class="form-group">
        <label for="ftpName" class="font-weight-bold">Nombre de la Conexión</label>
        <input type="text" class="form-control" id="ftpName" name="name" placeholder="Ejemplo: Mi Servidor FTP" required>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="ftpHost" class="font-weight-bold">Host</label>
            <input type="text" class="form-control" id="ftpHost" name="host" placeholder="ftp.example.com" required>
        </div>
        <div class="form-group col-md-4">
            <label for="ftpPort" class="font-weight-bold">Puerto</label>
            <input type="number" class="form-control" id="ftpPort" name="port" placeholder="21" maxlength="5" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ftpUsername" class="font-weight-bold">Usuario</label>
            <input type="text" class="form-control" id="ftpUsername" name="username" placeholder="Usuario FTP" required>
        </div>
        
        <div class="form-group col-md-6">
            <label for="ftpPassword" class="font-weight-bold">Contraseña</label>
            <input type="password" class="form-control" id="ftpPassword" name="password" placeholder="Contraseña FTP" required>
        </div>
    </div>
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">Guardar Conexión</button>
    </div>
</form>